<div class="container">
  <h3>Create a New Restaurant</h3>
</div>
<div class="container my-3">
    <%= simple_form_for (@restaurant) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  	<%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: Restaurant::CATEGORY %>
		<p></p>
    <%= f.submit class: "btn btn-primary" %>
    <% end %>
	<%= link_to 'Back to Restaurants', restaurants_path, class: "btn btn-primary my-3"%>
</div>
